html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#app {
    display: flex;
    height: 100%;
}

.left-panel {
    display: flex;
    flex-direction: column;
    
    width: 50%;
    background: #252525;
}

.left-panel > * {
    width: 100%;
}

.output-container {
    flex-grow: 1;
    color: white;
    padding: 8px;
    list-style: none;
    font-family: monospace;
}


.output-container .error::before {
    content: "ERROR";
    padding-right: 8px;
    color: red;
}


.image-container > img {
    width: 100%;
    background: #FFF;
}

.editor-panel {
    width: 50%;
}

.tab-bar {
    background: #252525;
}

.tab-bar button {
    background: none;
    color: white;
    opacity: 0.8;
    border: 0;
    padding: 4px 16px 4px 8px;
    font-family: monospace;
}

.tab-bar button.active {
    border-bottom: 1px solid cyan;
}