html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#app {
    display: flex;
    height: 100%;
}

.left-panel {
    display: flex;
    flex-direction: column;
    
    width: 50%;
    background: #252525;
}

.left-panel > * {
    width: 100%;
}

.output-container {
    flex-grow: 1;
    color: white;
    padding: 8px;
    list-style: none;
    font-family: monospace;
}

canvas {
    width: 100%;
}


.output-container .error::before {
    content: "ERROR";
    padding-right: 8px;
    color: red;
}


.image-container > img {
    width: 100%;
    background: #FFF;
}

.editor-panel {
    width: 50%;
}

.tab-bar {
    background: #252525;
}

.tab-bar button {
    background: none;
    color: white;
    opacity: 0.8;
    border: 0;
    padding: 4px 16px 4px 8px;
    font-family: monospace;
}

.tab-bar button.active {
    border-bottom: 1px solid cyan;
}

.toolbar {
    position: absolute;
    top: 8px;
    right: 8px;
    z-index: 10;
    color: white;
    font-family: monospace;

    display: flex;
    align-items: center;
}

.toolbar button {
    background: none;
    border: 1px solid white;
    color: white;
    padding: 4px 8px;
    margin-left: 8px;
    opacity: 0.8;
    cursor: pointer;
    margin-right: 8px;

    &:hover {
        opacity: 1.0;
    }
}

.image-container {
    position: relative;
}

.output-container > h3 {
    margin-top: 0;
    margin-bottom: 8px;
    border-bottom: 1px solid white;
    display: inline-block;
}